.dashboard {
  display: flex;
  flex-direction: column;
  width: 65%;
  /* height: 100px !important; Set the desired height of the dashboard */
 
  color: #000;
  /* margin-bottom: 100px; */
  padding:10px;
}

