form {
  margin-top: auto;

}
form textarea {
  width: 85%;
  height: 70px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  resize: none;
  background-color:#f4f4f4 ;
  margin-top: auto;
   border-radius: 5px; /* Added border radius */
}
form button {
  max-width: 4rem;
  width: 11%;
  font-weight: bold;
  font-size: 1rem;
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  margin-top:auto;
  margin-left: auto; /* Moved the send button to the right */
  display: block;
  border-radius: 10px; /* Added border radius */
  transition: background-color 0.2s ease-in-out; /* Added transition effect */
}
button:hover {
  background-color: #64a0b3; /* Added hover effect */
}

.message-bar{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
      /* border: 1px solid red; */

    /* height: 80%; */
    /* border: 2px solid red; */
}
.file-upload-label {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  align-self: flex-end;
}

.file-upload-label:hover {
  background-color: #e2e2e2;
}
