.admin-dashboard {
  display: flex;
  width: 100%;
  height: 30rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  justify-content: space-between;
  margin: 10px;
  
}
  .logout-button {
  width: 4rem;
  height: 15%;
  background-color: #f47a92;
  border: none;
  color: white;
  padding: 3px 4px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  align-self: self-end;
  transition: background-color 0.2s ease;
}

.logout-button:hover {
  background-color: #f98fa6;
}


.admin-chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  height: 100%;
  width: 100%;
}

.admin-chat-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.admin-chat-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 75px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #008CBA;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.admin-panel {
  width: 35%;
  height: 30rem;
    border: 1px solid #ddd;
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;

}

.admin-panel h2 {
  margin-top: 0;
  font-size: 24px;
}

.admin-panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.admin-panel li {
  padding: 20px 10px;
  border: 1px solid #ddd;
  font-weight: 300;
  font-size: 1.1em;
  cursor: pointer;
}

.admin-panel li:hover {
  background-color: #e4f4f9;
}
.selected {
  background-color: #e4f4f9;
}
.admin-content {
  width: 100%;
  height: 43rem;
  padding: 10px;
  border: 1
}
